body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:rgb(236, 228, 216) ;
    color: rgb(94, 71, 41);;
    margin: 0;
}
h1{
    display: none;
}
header{
    background-color: rgb(194, 176, 153);
    text-align: center;
}
header>img{
    width: 7rem;
    margin: 0.5rem auto 0;
}
nav a{
    color: rgb(94, 71, 41);
    margin: 2rem;
    display: inline-block;
}
main{
    background-color: rgb(236, 228, 216);
    color: rgb(94, 71, 41);
    padding: 1rem;
}
main>img{
    width: 20rem;
    justify-content: center;
    margin: 1rem auto 0;
    border-radius: 17%;
    display: block;
}
section{
    margin: 0.5rem;
    border-radius: 2%;
    padding: 1rem;
}
.border{
    border: 2px solid rgb(94, 71, 41);
}
h2{
    font-size: 20px;
}
h3{
    font-size: 15px;
}
.title{
    font-size: 3rem;
    border-bottom: 3px solid rgb(94, 71, 41);
    width: 11rem;
}
.Projects{
    display: flex;
}
iframe{
    width: 12rem;
    height: 7rem;
    margin-top: 2rem;
}
img{
    max-width: 100%;
    height: auto;
}
.Projects img{
    width: 60rem;
    height: 10rem;
    display: block;
}
.contact{
    background-color: rgb(194, 176, 153); 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4{
    border-bottom: 1px solid rgb(94, 71, 41);
    width: 2rem;
    margin: 0;
}
.contact ul{
    display: block;
    justify-content: space-around;
    width: 100%;
}
@media (min-width: 1100px){
header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
}
header>img{
      width: 10rem;
      margin-left: 13.5rem;
}
nav{
      display: flex;
      margin: auto;
}
nav a{
      font-size: 2rem;
}
main{
      display: flex;
      flex-direction: row;
      gap: 3rem;
      padding: 2rem 3rem;
      max-width: 100%;
      margin: auto;
}
main>img{
      width: 30rem;
      height: 25rem;
      margin-left: 3rem;
      margin-top: 4rem;
}
h2{
      font-size: 25px;
  }
h3{
      font-size: 20px;
}
section{
    width: 60rem;
    padding: 2rem;
 }
.gallery-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.gallery-container .border{
    min-width: 28%;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.gallery-container iframe{
    width: 100%;
    height: auto;
}
.Projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.Projects iframe{
    margin-top: 1rem;
    width: 100%;
    height: auto;
}
.layout-images{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.contact{
    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
}
}
  

